* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    word-break: break-word;
}

[onClick] {
    cursor:pointer;
}

body{
    width:100%;
    background: #fcf9f9;
    margin: 0 auto;
    font-family: 'Roboto';
}

.topo{
    width:100%;
    height:69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.topo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.topo h1:hover{
    cursor: pointer;
}

.paginaQuizz{
    margin: 70px auto;
    height: 100%;
}

.enunciado{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enunciado h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 40px;
}

.afastamento{
    height: 30px;
    width: 100%;
}

.caixaPerguntas{
    width:600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px auto;
}

.caixaPerguntas input {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.caixaImagem{
    margin: 0 auto;
    color: #FFFFFF;
    width: 500px;
    height: 250px;
    border-radius: 5px;
}

.caixaImagem p{
    width: inherit;
    height: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    padding: 15px;
    display: flex;
    align-items: flex-end;
}


.paginaQuizz input{
    width: 100%;
}

.formatação{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 46px;
    border-color: #D1D1D1;
}

.descricaoNivelFormatacao{
    height:180px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    margin: 0 auto;
    margin-bottom: 10px;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 29px 0px 170px 0px;
    background: #fcf9f9;
}

.rodape button{
    background: #EC362D;
    border-radius: 15px;
    border-color: #E5E5E5;
    width:325px;
    display:flex;
    justify-content: center;
}

.rodape h1{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
}

.rodape div h1{
    color: #818181;
}

.rodape div h1:hover{
    color: red;
}

/* TELA INICIAL */

.meusQuizzes, .todosQuizzes{
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.meusQuizzes{
    height: 180px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-evenly;
}

.meusQuizzes h3{
    font-size: 20px;
    font-weight: 400;
    color: #b9b9b9;
    text-align: center;
}

.meusQuizzes button{
    height: 40px;
    width: 150px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #fcf9f9;
    color:#EC362D;
    font-size: 21px;
    font-weight: 400;
}

.todosQuizzes{
    margin-top: 80px;
}

.todosQuizzes h1{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.todosQuizzes span {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.quizzes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quizz {
    height: 180px;
    width: 340px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 5px;
    background-size: cover;

}

.quizz div{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 18px;
}

.botaoAdicionar {
    font-size: 30px;
    color: #EC362D;
    margin-left: 15px;
}

/* TELA DE QUIZZ */

.banner {
    width: 100%;
    height: 230px;
    background-color: grey;
}

.banner div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    max-width: 760px;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    line-height: 45px;
}

.pergunta, .resultado{
    margin: 40px auto;
    width: 760px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titulo-pergunta, .titulo-resultado {
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    
}

.resposta-pergunta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 20px;
}

.resposta-pergunta img {
    width: 330px;
    height: 175px;
    object-fit: cover;
    margin-top: 10px;
}

.resposta-pergunta h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0;
    max-width: 330px;
}

.resposta-pergunta div {
    transition: opacity 300ms;
}

.resultado span {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.resultado h2 {
    margin: 0 0 0 20px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.imagem-resultado {
    width: 365px;
    max-height: 400px;
    object-fit: cover;
}

.escondido{
    display: none;
}

.perguntaBloco, .nivelBloco{
    width: 600px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 10px auto;
}


.caixaPerguntas h2{
    font-size: 20px;
}

.perguntaBloco h2, .nivelBloco h2{
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.icone-exp{
    margin-right: 26px;
    width: 26px;
    height: 26px;
}

.botoes {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reiniciarQuizz {
    width: 260px;
    height: 52px;
    background: #EC362D;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
}

.reiniciarPagina {
    border: none;
    background: none;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 30px;
}

/* FINAL DO CSS PARA SOBREPOSIÇÃO */

.filtroBranco {
    opacity: 30%;
}

.cor-true {
    color: #009c22;
}

.cor-false {
    color: #ff4b4b;
}


/* INICIO RESPONSIVO MOBILE */

@media(max-width:1100px){

    body{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .banner {
        height: 140px;
    }

    .caixaPerguntas, .meusQuizzes, .todosQuizzes,.perguntaBloco, .pergunta, .resultado, .quizz, .nivelBloco {
        width: 100%;
    }

    .quizzes {
        align-items: center;
        justify-content: center;
    }

    .quizz {
        margin-right: 10px;
    }

    .meusQuizzes{
        margin-top: 100px;
    }

    .todosQuizzes{
        margin-top: 20px;
    }

    .todosQuizzes ion-icon {
        margin-right: 10px;
    }

    .todosQuizzes span {
        justify-content: space-between;
    }

    .banner h1, .titulo-pergunta {
        font-size: 19px;
    }

    .pergunta, .resultado {
        margin: 20px 0;
        padding: 15px;
    }

    .pergunta img {
        width: 100%;
    }

    .pergunta h2 {
        font-size: 13px;
    }

    .resposta-true, .resposta-false, .cor-false, .cor-true {
        width: 48%;
    }

    .imagem-resultado {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .resultado h2{
        margin: 0;
    }

    .resultado span {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}