* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

[onClick] {
    cursor:pointer;
}

body{
    width:100%;
    background: #fcf9f9;
    margin: 0 auto;
    font-family: 'Roboto';
}

.topo{
    width:100%;
    height:69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.topo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.topo h1:hover{
    cursor: pointer;
}

.paginaQuizz{
    margin-top: 69px;
    height: 100%;
}

.enunciado{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enunciado h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 40px;
}

.afastamento{
    height: 30px;
    width: 100%;
}

.caixaPerguntas{
    width:600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px auto;
}

.paginaQuizz input{
    width: 90%;
    height: 46px;
}

.formatação{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    margin: 0 auto;
    margin-bottom: 10px;
}

#campo5{
    height:180px;
    display:flex;
}

#campo2{
    margin-bottom: 35px;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 29px 0px 170px 0px;
    background: #fcf9f9;
}

.rodape button{
    background: #EC362D;
    border-radius: 15px;
    border-color: #E5E5E5;
    width:325px;
    display:flex;
    justify-content: center;
}

.rodape h1{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
}

.rodape div h1{
    color: #818181;
}

.rodape div h1:hover{
    color: red;
}

/* TELA INICIAL */

.meusQuizzes, .todosQuizzes{
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.meusQuizzes{
    height: 180px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-evenly;
}

.meusQuizzes h3{
    font-size: 20px;
    font-weight: 400;
    color: #b9b9b9;
    text-align: center;
}

.meusQuizzes button{
    height: 40px;
    width: 150px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #fcf9f9;
    color:#EC362D;
    font-size: 21px;
    font-weight: 400;
}

.todosQuizzes{
    margin-top: 80px;
}

.todosQuizzes h1{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.todosQuizzes span {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.quizzes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quizz {
    height: 180px;
    width: 340px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 5px;
    background-size: cover;    
}

.quizz div{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 18px;
}

.botaoAdicionar {
    font-size: 30px;
    color: #EC362D;
    margin-left: 15px;
}

/* TELA DE QUIZZ */

.banner {
    width: 100%;
    height: 230px;
    background-color: grey;
}

.banner div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    max-width: 760px;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    line-height: 45px;
}

.pergunta {
    margin: 40px auto;
    width: 760px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titulo-pergunta {
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    
}

.resposta-pergunta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 20px;
}

.resposta-pergunta img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.resposta-pergunta h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
    max-width: 330px;
    height: 44px;
}

.resposta-pergunta div {
    transition: opacity 300ms;
}

.filtroBranco {
    opacity: 30%;
}

.cor-true {
    color: #009c22;
}

.cor-false {
    color: #ff4b4b;
}

/* INICIO RESPONSIVO MOBILE */

@media(max-width:1100px){

    body{
        width: 375px;
    }

    .caixaPerguntas, .meusQuizzes, .todosQuizzes {
        width: 340px;
    }

    .meusQuizzes{
        margin-top: 100px;
    }

    .todosQuizzes{
        margin-top: 30px;
    }

}