body{
    width:375px;
    margin: 0 auto;
}

.topo{
    width:100%;
    height:69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    align-items: center;
}

.topo h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.paginaQuizz{
    background: #fcf9f9;
}

.enunciado{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enunciado h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.caixaPerguntas{
    width:100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}

.paginaQuizz input{
    width: 90%;
    height: 46px;
}

#campo1, #campo2,#campo3,#campo4,#campo5,#titulo, #url,#qtde,#nivel{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    margin: 0 auto;
    margin-bottom: 10px;
}

#campo5{
    height:180px;
    display:flex;
}

#campo2{
    margin-bottom: 35px;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 29px 0px 170px 0px;
    background: #fcf9f9;
}

.rodape button{
    background: #EC362D;
    border-radius: 15px;
    border-color: #E5E5E5;
    width:325px;
    display:flex;
    justify-content: center;
}

.rodape h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
}

.rodape div h1{
    color: #818181;
}

.rodape div h1:hover{
    color: red;
}

@media(min-width:376px){
    body{
        width:100%;
    }

    .caixaPerguntas{
        width:50%;
        margin: 0 auto;
    }

}